form,
div,
section,
input,
button {
  font-size: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

*,
*:after {
  box-sizing: border-box;
}

#form {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

button {
  margin: 1rem 0;
  padding: 1rem 0;
  text-transform: uppercase;
  font-weight: 600;
  background: none;
}

.off_screen {
  position: absolute;
  left: -4000px;
  width: 1px;
  height: 1px;
  font-size: 0;
}

[data-stripe] {
  margin: 10px 0;
  padding: 10px;
  color: #333;
}

.expiration {
  display: flex;
  align-items: center;
}

.expiration__divider {
   display: block;
   width: 4rem;
}

@media (min-width: 700px){

}
